.selected {
  background-color:rgba(149,181,99,0.4);
}

body {
    background: url(bg03.jpg) no-repeat fixed left top #333333;
    background-size: 100% 100%;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding: 20px;
    color: #fff;

}

input#playerName {
    border-radius: 3px;
    border: none;
    padding-left: 7px;
    height: 20px;
    width: 143px;
}

.btn {
    border-radius: 3px;
    margin-left: 5px;
    border: none;
    height: 22px;
    width: 100px;
}

.btn:hover {
    background-color: rgb(210,210,210);
}

#leaders {
    width: 420px;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
    color: #000;
}

#leaders ul {
    padding-left: 20px;
    color: #000;
}

#leaders li {
    padding-left: 20px;
    padding: 5px 5px 5px 8px;
    list-style-type: none;
    font-size: 10pt;
    width: 151px;
    
}

#stats {
    padding-left: 8px;
}

#controls {
    padding-left: 23px;
    padding-bottom: 10px;
}

.form-style {
    padding-bottom: 15px;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    background: #1878b8;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
    background: #166ba4;
}

#login-dropdown-list {
    background: rgba(255,255,255,0.9);
}